{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended"
  ],
  "rules": {
    "consistent-return": "warn",
    "react/prop-types": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  }
}