@import './visuals/branding/fonts.css';

.App {
    text-align: center;
    font-family: 'Open Sans', serif;
}


/* make the navbar not flow into main content */
.Navbar {
    height: 40px;
}

.MainContent {
    margin-top: 20px;
    height: calc(100vh - 60px);
    position: relative;
}

.brand-script {
    font-family: 'Italianno', cursive, serif;
    font-weight: normal;
}
